.btn-radeema{
	background: transparent;
	border: 2px solid;
	border-radius: 10px;
	padding: 3px 20px; 
}
.btn-radeema-primary { color: #007abc !important; }
.btn-radeema-white{ color: white !important; }